<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        img{
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.author.username }}</p>
    <p>{{ post.author.first_name }} {{ post.author.last_name }}</p>
    <img src="{{ post.img }}">
    <p>{{ post.content }}</p>
    <a href="/posts/edit/{{ post.id }}"><button>Editar</button></a>
    <a href="/posts/delete/{{ post.id }}"><button>Borrar</button></a>
    <form action="/posts/comment/{{ post.id }}" method="POST">
        {% csrf_token %}   
        <textarea name="com_content" placeholder="Comenta"></textarea>
        <button>comentar</button>
    </form>
    <section class="comments">
        {% for comment in comments %}
            <p>user: {{ comment.author }} -Comment: {{ comment.body }} </p>
        {% endfor %}
    </section>
</html>